.button-signup {
  /* text-transform: uppercase; */
  background-color: darkslateblue;
  border: none;
  border-radius: 8px;
  color: white;
  font-weight: bold;
  margin: 0 calc(50% - 40px);
  margin-top: 20px;
  width: 80px;
  height: 30px;
}
.button-signup:hover {
  cursor: pointer;
  opacity: 0.8;
}
